{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-runtime",
        [
          "babel-plugin-webpack-alias",
          {
            "config": "./babel-test-alias.js"
          }
        ]
      ]
    }
  }
}
