{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "syntax-flow",
    "transform-decorators-legacy",
    "transform-runtime",
    "tcomb",
    [
      "webpack-alias",
      {
        "config": "./babel-alias.js"
      }
    ],
    "transform-flow-strip-types"
  ]
}
