.PaperOrientationInput {
  &-paper {
    border: 1px solid black;
  }
  &-paper--horizontal {
    width: 300px;
    height: 200px;
  }
  &-paper--vertical {
    width: 200px;
    height: 300px;
  }
}
