.Modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  &-content {
    position: absolute;
    top: 150px;
    left: 200px;
    right: 200px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }
}

@media all and (max-width: 800px) {
  .Modal-content {
    left: 50px;
    right: 50px;
  }
}
